<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiayeli.blog.dao.ResumerMapper">
  <resultMap id="BaseResultMap" type="com.jiayeli.blog.model.Resumer">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="isShow" jdbcType="BIT" property="isshow" />
    <result column="contetn" jdbcType="VARCHAR" property="contetn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, isShow, contetn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from resumer
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from resumer
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jiayeli.blog.model.Resumer">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into resumer (id, isShow, contetn
      )
    values (#{id,jdbcType=VARCHAR}, #{isshow,jdbcType=BIT}, #{contetn,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jiayeli.blog.model.Resumer">
    <selectKey keyProperty="id" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') from dual
    </selectKey>
    insert into resumer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isshow != null">
        isShow,
      </if>
      <if test="contetn != null">
        contetn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isshow != null">
        #{isshow,jdbcType=BIT},
      </if>
      <if test="contetn != null">
        #{contetn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiayeli.blog.model.Resumer">
    update resumer
    <set>
      <if test="isshow != null">
        isShow = #{isshow,jdbcType=BIT},
      </if>
      <if test="contetn != null">
        contetn = #{contetn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiayeli.blog.model.Resumer">
    update resumer
    set isShow = #{isshow,jdbcType=BIT},
      contetn = #{contetn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getResumerById" parameterType="string" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from resumer
    where id = #{id, jdbcType=VARCHAR}
  </select>

  <select id="getResumerList"  resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from resumer
  </select>

</mapper>